<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>

<form align="center" action="#" method="POST" th:object="${user}" th:action="@{/edit}">
    <input hidden="hidden" type="number" th:field="*{id}" id="idAdd" placeholder="id">

    <label for="name">Name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br>

    <label for="surname">Surname: </label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <br>


    <label for="email">Email:</label>
    <input type="text" th:field="*{email}" id="email"/>


    <br/>
    <input type="submit" value="Update"/>
</form>

</body>
</html>
