<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div align="center">
    <h2>Список пользователей </h2>

    <table>
        <b><tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Action</th>
        </tr></b>
        <br>
        <tr th:each="u : ${users}">
            <td th:utext="${u.id}"></td>
            <td th:utext="${u.name}"></td>
            <td th:utext="${u.surname}"></td>
            <td th:utext="${u.email}"></td>
            <td>
                <a th:href="'/update?id='+${u.id}">Edit</a>
                <a th:href="'/delete?id='+${u.id}">Delete</a>
                <br>
            </td>
        </tr>
    </table>

    <br>
    <a href="/new" style="padding-right: 170px;">Create user</a>



</div>
</body>
</html>
